.App {
  text-align: center;
}

.data-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: 20px;
  justify-content: center;

}

.data {
  width: 200px;
  height: 100px;
  margin: 10px
  
}
